.loginArt {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  max-height: 100%;
  width: 198px;
  object-fit: cover;
}
.cuisine,
.theAmazingTuscany {
  align-self: stretch;
  position: relative;
  line-height: 36px;
}
.theAmazingTuscany {
  font-size: var(--font-size-base);
  line-height: 26px;
  font-family: var(--font-roboto);
  color: var(--color-slategray);
}
.storyText {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.navIcon {
  position: relative;
  width: 11.42px;
  height: 11.42px;
}
.storyCard {
  align-self: stretch;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.artIcon,
.storyImageIcon {
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.artIcon {
  width: 198px;
  height: 146px;
}
.storyImageIcon {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 200px;
}
.mainContent {
  align-self: stretch;
  border-bottom: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-changa-one);
}
.categories,
.mainContainer,
.mainContent {
  /*display: flex;*/
  justify-content: flex-start;
}
.mainContainer {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.categories {
  position: relative;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 603px;
  height: 700px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: right;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 420px) {
  .storyText {
    flex: unset;
    align-self: stretch;
  }
  .storyCard {
    flex-direction: column;
  }
  .storyImageIcon {
    width: 100% !important;
    height: auto !important;
  }
}
