.leaderPositionText {
  position: relative;
  display: inline-block;
  width: 50px;
  flex-shrink: 0;
}
.userAvatarIcon {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.userName {
  flex: 1;
  position: relative;
  font-size: 20px;
}
.leaderCellPosition,
.leaderCellUser {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.leaderCellPosition {
  height: 22px;
  gap: var(--gap-xl);
}
.pointsText {
  position: relative;
}
.leaderCellPoints,
.leaderRow {
  display: flex;
  flex-direction: row;
}
.leaderCellPoints {
  width: 72px;
  height: 25px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
}
.leaderRow {
  align-self: stretch;
  padding: var(--padding-11xl) 0;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
