.sideGacBox {
  max-height: 450px;
  align-self: stretch;
  flex: 1;
  border-radius: 0 0 var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid var(--color-slategray);
  border-left: none;
  border-top: none;
}
.gacFrame {
  width: 100%;
  height: 100%;
  border: 0;
}
.topGacBox {
  display: none;
}
.contentTitle {
  font-weight: 600;
  border-bottom: 1px solid #000;
}
.contentText,
.contentTitle {
  align-self: stretch;
  position: relative;
}
.contentMessage,
.startQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startQuiz {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 150px;
  align-items: flex-end;
}
.contentMessage {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-11xl);
  padding-top: var(--gap-5xl);
}
.sepIcon {
  position: relative;
  width: 1.5px;
  height: 280px;
}
.summaryBox,
.summaryInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.summaryBox {
  /*gap: var(--gap-xl);*/
  gap: 0px;
}
.summaryInfo {
  /*width: 334px;
  height: 316px;*/
  height: auto;
  padding-top: var(--gap-5xl);
  font-size: var(--font-size-10xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.contentBox {
  /*width: 767.5px;*/
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-xl);
}
.homeContent {
  /*height: 552px;*/
  flex-direction: column;
  margin: var(--padding-13xl);
  margin-left: 0;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.homeContent,
.mainContent,
.mainSection {
  align-self: stretch;
  display: flex;
}
.mainContent {
  width: 791px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainSection {
  height: auto;
  flex-direction: row;
  /*padding: var(--padding-13xl);*/
  padding: 0 var(--padding-13xl) var(--padding-13xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

@media screen and (max-width: 900px) {
  .mainSection {
    padding: 0 var(--padding-13xl) 0;
  }
  .homeContent {
    margin: 0px;
    padding: 0px;
  }
  .sideGacBox {
    border: none;
    display: none;
  }
  .topGacBox {
    display: block;
    max-height: 200px;
    align-self: stretch;
    flex: 1 1;
    border-radius: 0 0 var(--br-5xl) var(--br-5xl);
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: var(--br-5xl);
  }
  .gacFrame {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .homeContent {
    padding: 0;
  }
  .contentBox {
    flex-direction: column;
  }
  .sepIcon {
    display: none;
  }
  .summaryInfo {
    padding-top: 5px;
    align-self: center;
  }
  .summaryBox {
    flex-direction: row;
    padding-top: var(--gap-5xl);
    border-top: 1px solid #000;
    gap: var(--gap-11xl);
  }
}

@media screen and (max-width: 480px) {
  .mainSection {
    padding: 0 var(--padding-base);
  }
  .contentBox {
    gap: var(--gap-xl);
  }
  .summaryBox {
    gap: var(--gap-11xl);
  }
}