.itemDesc,
.itemTitle,
.loginArt {
  align-self: stretch;
  position: relative;
}
.loginArt {
  border-radius: 4px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
  height: 100px;
}
.itemDesc {
  font-size: var(--font-size-base);
  /*line-height: 26px;*/
  font-family: var(--font-roboto);
  color: var(--color-slategray);
}
.itemBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.playButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blueviolet);
}
.playButtonItem {
  position: absolute;
  height: calc(100% - 28.55px);
  width: calc(100% - 31.26px);
  top: 14.49px;
  right: 13.81px;
  bottom: 14.07px;
  left: 17.45px;
  border-radius: var(--br-11xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.playButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 48.87px;
  height: 48px;
}
.bigStoryBody,
.bigStoryItems,
.storyBigCard {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.bigStoryItems {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xl);
}
.bigStoryBody,
.storyBigCard {
  flex-direction: column;
  align-items: flex-start;
}
.bigStoryBody {
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-white);
  padding: var(--padding-sm) 0;
  margin-top: -2px;
}
.storyBigCard {
  flex: 1;
  border-bottom: 1px solid var(--color-black);
  padding: 0 var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-changa-one);
}
@media screen and (max-width: 420px) {
  .bigStoryItems {
    flex-direction: row;
  }
}
