.topBar {
  align-self: stretch;
  border-bottom: 1px solid var(--color-slategray);
  box-shadow: 1px 1px 1px #ccc;
  padding: var(--padding-3xs) var(--padding-13xl);
  justify-content: space-between;
  background: var(--color-black);
}
.leftSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  gap: var(--gap-3xs);
  width: 100%;
}
.logoIcon {
  position: relative;
  height: 40px;
  object-fit: cover;
}
.logoText, 
.logoText a {
  font-weight: 600;
  font-size: var(--font-size-6xl);
  color: var(--color-lightcyan);
  margin-left: var(--padding-3xs);
  padding: var(--padding-3xs) var(--padding-3xs) 0 0;
}
.searchBox {
  max-width: 300px;
  width: 100%;
}
.userAvatarIcon {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.topBar,
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userInfo {
  justify-content: flex-start;
  gap: var(--gap-sm);
}

/* search input */
.MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-lightcyan) !important;
}
.MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--color-lightcyan) !important;
}

@media screen and (max-width: 600px) {
  .topBar {
    padding: var(--padding-3xs);
  }
  .leftSection {
    gap: 0;
  }
}