.signIn {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
}
.typedesktop {
  position: relative;
  border-radius: var(--br-xs);
  /*background-color: var(--color-darkslategray-100);*/
  background-color: var(--color-blueviolet);
  width: 388px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
