.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    height: 450px;
    border: 2px solid #333;
    border-radius: 20px;
}
.map {
    border: 2px solid;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.pano {
    float: left;
    height: 100%;
    width: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 0px;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.guessButtonContainer {
    width: 100%;
    text-align: center;
}

.guessButton {
    background-color: var(--color-primary-bright);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#result{
    height: 25%;
    width: 90%;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
}

#location, #distance, #totaldistance{
    font-size: 20px;
    text-align: center;
    font-family: Chalkduster, fantasy;
}

#location, #distance {
    display: inline-block;
    margin-left: 20px;
}


#check, #next{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 200px;
}

#buttons, #info{
    text-align: center;
}

#next{
margin-left: 100px;
}


#center{
text-align: center;
}

#totaldistance{
bottom: 0;
width: 100%;
}

#round {
font-family: Chalkduster, fantasy;
font-size: 15px;
}

@media screen and (max-width: 480px) {
    .container {
        width: 111%;
        margin-left: -20px;
        height: 450px;
    }
}