.leftSection {
  display: flex;
  flex-direction: column;
  flex: 2 0;
  align-items: flex-start;
  align-self: stretch;
  height: 500px;
}
.topSection {
  display: none;
}
.noAsset {
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
  background: var(--primary-text);
  color: #fff;
}
.pageNav {
  display: flex;
  margin: var(--padding-3xs) var(--padding-13xl);
  justify-content: space-between;
  align-self: stretch;
}
.navIcon:hover {
  color: #000;
}
.arrow {
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 11px 15px 11px 0;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.categoryName {
  font-size: 26px;
  font-family: var(--font-changa-one);
  color: var(--color-primary-deep);
  cursor: pointer;
}
.categoryName div {
  color: var(--color-primary-deep);
  cursor: pointer;
}
.categoryName:hover {
  color: var(--color-black);
}
.contentTitle .categoryName {
  font-size: var(--font-size-base);
  font-weight: normal;
}
.contentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: var(--font-size-lg);
  border-bottom: 1px solid var(--color-slategray);
  padding: var(--padding-3xs) 0 var(--padding-3xs) 0;
}
.contentText,
.contentTitle {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
}
.contentDescription {
  margin: var(--padding-3xs) 0 var(--padding-11xl);
}
.titleColumn {
  flex: 1;
}
.totalScore {
  padding-top: var(--padding-3xs);
  font-size: var(--font-size-base);
  font-weight: normal;
}
.contentMessage,
.startQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startQuiz {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 150px;
  align-items: flex-end;
}
.contentMessage {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-11xl);
  width: 100%;
}
.contentBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
  line-height: var(--font-size-6xl);;
}
.homeContent {
  /*height: 552px;*/
  flex-direction: column;
  margin: 0 0 var(--padding-13xl);
  margin-left: 0;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.homeContent,
.mainContent,
.mainSection {
  align-self: stretch;
  display: flex;
}
.mainContent {
  width: 791px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainSection {
  height: auto;
  flex-direction: row;
  /*padding: var(--padding-13xl);*/
  padding: 0 var(--padding-13xl) var(--padding-13xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.emptySection {
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;
}
.notFoundMessage {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .mainSection {
    padding: 0 var(--padding-13xl) 0;
  }
  .homeContent {
    margin: 0px;
    padding: 0px;
  }
  .leftSection {
    display: none;
  }
  .topSection {
    display: block;
    width: 100%;
  }
  .pageNav {
    margin: var(--padding-3xs) var(--padding-base);
    border-bottom: 1px solid #ccc;
  }
}
@media screen and (max-width: 600px) {
  .homeContent {
    padding: 0 var(--padding-base);
  }
  .contentBox {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .mainSection {
    padding: 0;
  }
  .contentBox {
    gap: var(--gap-xl);
  }
}