.mainContainer {
    display: flex;
    justify-content: center;
  }
.mainContainer {
    align-self: stretch;
    height: 1140px;
    flex-direction: row;
    /*padding: var(--padding-13xl);*/
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-13xl);
}

.mainContent {
    display: flex;
    align-self: stretch;
    width: 791px;
    justify-content: space-between;
    margin-top: 50px;
    flex-direction: column;
}
.copyright,
.leftSide8Column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftSide8Column {
  width: 788px;
  flex-direction: row;
}
.copyright {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  line-height: 100%;
  font-family: var(--font-roboto);
  color: var(--color-lightslategray-100);
  width: 382px;
  padding-bottom: 20px;
}
.homeContent,
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContent {
  width: 788px;
  justify-content: flex-start;
  gap: var(--gap-203xl);
}
.mainContainer,
.signup,
.login {
  display: flex;
  justify-content: center;
}
.frame,
.intro,
.pageForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pageForm {
    width: 817px;
    height: 639px;
}
.frame,
.pageForm {
    align-items: center;
    margin-right: 10px;
}
.frame {
    width: 388px;
    height: 601px;
    gap: var(--gap-29xl);
}
.topImage {
    display: none;
}

@media screen and (max-width: 820px) {
    .mainContent {
        margin-top: 0px;
    }
    .homeContent {
        margin-top: -150px;
    }
    .topImage {
        display: block;
        background-image: url('/art@2x.png');
        margin-bottom: 50px;
        height: 200px;
        width: 100%;
    }
  }